<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<h2>Privacy Policy</h2>

<h3>Last updated 20 May 2021</h3>

<p>HereMe (“HereMe,” “we,” “us,” and “our”) is committed to maintaining your confidentiality and protecting your privacy. This Privacy Policy details how we collect, use and disclose your information and should be read in line with our Terms & Conditions. Your use of our HereMe platform indicates that you accept the terms of this Privacy Policy and our Terms & Conditions.

</p>
<p>
<h3>What information we gather:</h3>
<ul>
    <li>We collect any information you provide us with (e.g. your name, age, country, languages spoken, email address, contact number)
    <li>If you interact with us online through our websites, emails, mobile applications or via our social media channels (such as Facebook or Instagram)
    <li>If you communicate with us directly via our support services
    <li>Chat transcripts from group and individual chats may be reviewed by us to evaluate the efficiency of this service and to detect any safety issues/misuse of the platform
    <li>Information you choose to share in our public threads, in your journal, or other non-private locations. We would strongly recommend that you do not share public information accessible to all users to maintain your confidentiality and security

</ul>
</p>

<h3>How we use your personal information:</h3>

<p>
<h3>We use your personal information for the following purposes:</h3>
<ul>
    <li>To provide you with our services
    <li>For your protection, and that of other users
    <li>To improve our platform and offer you an enhanced user experience with better customer support
    <li>To provide customer support
</ul>


</p>

<p>
<h3>Measures for securing your personal information:</h3>

We take measures to ensure that your information is protected and accessible only by authorized personnel.


However, it is your responsibility to maintaining the secrecy of your password, user ID, or any other form of authentication for access to your profile. In the case that there is a suspected breach of security, we may be obliged to suspend access to the platform.
</p>
<h3>Disclosure of personal Information:</h3>

<p>We ensure that your personal information will not be shared with any third parties without your approval, unless we believe your information shared with us raises safety concerns to you or others arounds you, such as:

    <ul>
    <li>You are thinking of seriously harming yourself or others
    <li>You are at of risk of being seriously hurt by another person
    <li>Someone else is in danger of being seriously hurt by another person
</ul>


In this case, we will use your information to contact you and confirm your wellbeing. If necessary, your contact details may need to be passed on to authorities (police or mental health services).
</p>
<h3>Anonymity:</h3>


<p>
The amount of information you provide online is your choice. When signing up online and providing us with your full name, contact number and email address, this information will not be visible on your profile or to other users. You may also amend your privacy settings on your profile to make certain information visible only to you (such as your journal). You may wish to use a pseudonym when interacting online, use a username that conceals your identity. We strongly encourage you not to use the mood-board space to post personal images.

It is important to also respect the privacy of other people/users. If you wish to share a story involving the experience of another person in which they would be identifiable, you must seek permission from that individual or next of kin first to inform them.

</p>
<h3>Privacy Policy Changes</h3>

Our Privacy Policy is subject to change at any time when we deem necessary or when required by the law. For the latest version of this Policy, kindly check this page on our platform. If you continue to use our services after the Policy has been amended, we understand you accept the updated Policy. We will be sending users an email informing them of any changes made to our Policy.


<h3>Contact us</h3>
<p>
If you wish to access your personal information or if you have any queries regarding our Privacy Policy, please contact us via  support@hereme.com
</p>

    </body>
