
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>


    <h2>Terms and Conditions</h2>

    <h3>Last updated 20 April 2020</h3>

<p>Please read the following terms and conditions carefully. By using our (“HereMe,” “we,” “us,” and “our”) platform, you agree to these terms and conditions.
</p>


    <h3>Privacy</h3>
    <p>In agreeing with our Terms and Conditions, you also agree to our Privacy Policy.</p>

    <h3>Disclaimer</h3>
<p>Our platform is NOT intended for emergency situations. HereMe chats and threads are not intended to assist in crisis situations where you may be in danger to yourself or to others around you. If you are in a life threatening situation or have a medical emergency call 911 immediately (or another applicable emergency number in your country) for support.

We do not guarantee that the information and discussions provided on this platform by users is reliable, accurate or complete in information. We strongly recommend that you seek professional mental health or medical advice before taking recommendations from any information relayed through this platform. Therefore, choosing to depend on information from this platform is at your own risk.
</p>
    <h3>Your use of our Services</h3>
<p>In using our services you guarantee that your use of website will not be for any purpose prohibited by these Terms & Conditions. You agree not to:

    <ul>
       <li>Use this platform to defame, abuse, harass, stalk, threaten any person
        <li>Post offensive content or be insensitive towards others
        <li>Publish, email or transfer any material which is unlawful, obscene, defamatory or inappropriate
        <li>Promote third party surveys or spamming
        <li>Impersonate any other person or entity
        <li>Share a story involving the experience of another person in which they would be identifiable without their consent
        <li>Upload material that contains viruses or any other material designed to limit functionality of other user’s devices
        <li>Infringe  any laws or regulations in your jurisdiction which apply to your use of this platform.
    </ul>


</p>
    <h3>Copyright & Trademarks</h3>
<p>
All material on this platform is HereMe’s copyright property or is used under license unless indicated otherwise. All rights are reserved. You will need to receive our approval for using our material on this service. Please contact us for further information.
</p>

    <p>
Service names, logos, trade names and trade marks shown on this platform must not be used for the following:
        <ul>
        <li>In relation to products, services or activities that do not belong to us
       <li>As your own
        <li>In a manner that is depreciating to us and our services
    </ul>

    </p>
    <h3>Social media</h3>
<p>
Our social media accounts include our Instagram and Facebook, each are subject to their own terms of use. By using our social media pages, you agree to the relevant social media providers terms of use.
</p>



    <h3>Nondiscrimination</h3>
<p>
HereMe strives to provide a safe and comfortable environment for self expression and equality amongst all users. We do not tolerate under any circumstances any discrimination in relation to race, age, colour, religion, gender, disability, or sexual orientation.
</p>
    <h3>Individuals under 18</h3>
<p>
Our platform requires users to be above 18 years old. The participation of users between the ages 13 - 17 years may only be with parental/guardian consent. If we learn that a user under the age of 18 (or between 13-17 without parental consent) is using our services and providing us with personal information we will take measures to erase their information from our system.
</p>
    <h3>Changes</h3>
<p>
Our Terms and Conditions are subject to change at any time when we deem necessary or when required by the law. For the latest version, kindly check this page on our platform. If you continue to use our services after amendments have been made, we understand you accept the updated Terms and Conditions. We will be sending users an email informing them of any changes made.
<p>
    <h3>Contact us</h3>
<p>
If you have any queries or complaints regarding these Terms and Conditions, please contact us via  support@hereme.com
    </p>





</body>

